@model Restaurant_Management.Models.Waiter

<form asp-controller="Waiters" asp-action="Edit" method="post">
    <input asp-for="Id" hidden="hidden">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nombre</label>
        <input required="required" type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label asp-for="LastNames" class="form-label">Apellidos</label>
        <input required="required" type="text" class="form-control" asp-for="LastNames">
    </div>
    <div class="mb-3">
        <label asp-for="Shift" class="form-label">Turno</label>
        <select asp-for="Shift" class="form-control">
            <option value="Día">Día</option>
            <option value="Noche">Noche</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Experience" class="form-label">Años de experiencia</label>
        <input required="required" type="number" class="form-control" asp-for="Experience">
    </div>
    <button type="submit" class="btn btn-outline-success">
        Guardar cambios
    </button>
</form>