@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="hero d-flex flex-column">
      <h1 class="mb-4 text-center main_title">Panel de Administración</h1>
      <div class="row g-4 main_cards">

          <!-- Clientes -->
          <div class="col-md-4">
              <div class="card shadow-sm h-100">
                  <div class="card-body text-center">
                      <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Index">
                          <h5 class="card-title main_links">Clientes</h5>
                      </a>
                  </div>
              </div>
          </div>

          <!-- Meseros -->
          <div class="col-md-4">
              <div class="card shadow-sm h-100">
                  <div class="card-body text-center">
                      <a class="nav-link text-dark" asp-area="" asp-controller="Waiters" asp-action="Index">
                          <h5 class="card-title main_links">Meseros</h5>
                      </a>
                  </div>
              </div>
          </div>

          <!-- Platos -->
          <div class="col-md-4">
              <div class="card shadow-sm h-100">
                  <div class="card-body text-center">
                      <a class="nav-link text-dark" asp-area="" asp-controller="Plates" asp-action="Index">
                          <h5 class="card-title main_links">Platos</h5>
                      </a>
                  </div>
              </div>
          </div>

          <!-- Pedidos -->
          <div class="col-md-6">
              <div class="card shadow-sm h-100">
                  <div class="card-body text-center">
                      <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">
                          <h5 class="card-title main_links">Pedidos</h5>
                      </a>
                  </div>
              </div>
          </div>

          <!-- Reservas -->
          <div class="col-md-6">
              <div class="card shadow-sm h-100">
                  <div class="card-body text-center">
                      <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="Index">
                          <h5 class="card-title main_links">Reservas</h5>
                      </a>
                  </div>
              </div>
          </div>

      </div>
  </div>
  
</div>

